<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <h1>Category:{{categories}}</h1>
    <h1>Products</h1>
    <div>
        {% for product in products %}
           <b> Name:</b><p>{{product.product_name}}</p>
           <b> Category:</b><p>{{product.category}}</p>
           <b> Description:</b><p>{{product.desc}}</p>
           <b> Created date:</b><p>{{product.created_date}}</p>
        {% endfor %}
    </div>
</body>
</html>